header {
    font-size: 24px;
    font-weight: 500;
    background-color: white;
    line-height: 25px;
}

a {
    text-decoration: none;
    color: black;
}


a:hover {
    color: #7D27C0;
}

.page-header {
    display: flex;
    align-items: center;
}

.header-container1 {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 30px;
}

.header-container2 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px;
    margin-right: 20px;
}

.header-logo{
    margin-right:30px;
}

.circle1, .circle2 {
    padding: 8px;
    border-radius: 50%;
}

.circle1 img, .circle2 img {
    display: block;
}

.search-input[type="text"] {
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    width: 300px;
    height: 41px;
    margin-right: 10px;
    font-size: 16px;
    font-family: Montserrat;
    margin: 0;
    margin-right: 5px;
}

.search-button {
    background-color: inherit;
    color: rgba(125, 39, 192, 1);
    cursor: pointer;
    border: 0;
    margin: 0;
}

.search-form{
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: auto;
    margin-right: 50px;
}
