button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.form-control-sm{
    margin: 0;
    margin-bottom: 10px;
}

.send-button{
    margin: 0;
}

.post-title img{
    border-radius: 50%;
    border: 0;
    width: 50px;
    height: 50px;
}

.post-title{
    margin: 0;
    margin-bottom: 20px;
}


.like-count{
    color: black;
    margin-left: 3px;
}

.like-btn {
    background-color: white;
    color: white;
    border: none;

    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin: 0;
    opacity: 0.75;
}

.like-btn.pressed{
    background-color: inherit;
}

.delete-post:hover {
    opacity: 0.5;
}

.send-button {
    border-color: #7D27C0;
    color: #7D27C0;
}
.send-button:hover {
    border-color: #7D27C0;
    color: white;
    background-color: #7D27C0;
}


.delete-post {
    background-color: #7D27C0;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin: 0;
    opacity: 0.75;
}

.not-authed-p{
    border: 1px solid gray;
    padding:10px;
    border-radius: 5px;
    font-size: 14px;
    margin: 0;
}
.post-photo{
    border: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.post-text{
    font-size: 18px;
}

.comment img{
    border: 0;
}

.comments {
    margin-top: 20px;
}

.comments h5 {
    margin-bottom: 15px;
}

.comment {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.comment-author-name{
    width: 130px;
    font-weight: 500;

}

.delete-comment{
    width: 60px;
}

.comment-author {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.comment-author img.post-author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


.comment-text {
    flex-grow: 1;
    width: 300px;
    margin-right: 6px;
}

.comment a {
    color: #000000;
    text-decoration: none;
}

.comment a:hover {
    text-decoration: none;
    color:  #8b00cf;
}