body {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: rgba(255, 178, 252, 1);
  background-image: url("../img/conditer.png"), url("../img/cupcake4.png"), url("../img/cupcake3.png"), url("../img/cupcake1.png"), url("../img/cupcake2.png") ;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 650px 900px, 118.76px 118.76px, 118.76px 118.76px, 118.76px 118.76px, 118.76px ;
  background-position: 775px 75px, 1350px 425px, 850px 550px, 1280px 100px, 700px 352.5px;
  background-blend-mode:normal, multiply, multiply, multiply, luminosity;

}
.a {
  text-decoration:none;
  color: black;
}
.page-header {
  background-color: white;
  width: 100%;
  height: 75px;
  top: 0px;
  left: 0px;

}
.container {
  display: flex;
  width: 50%;
  height: 129px;
}
.rectangle1 {
  width: 125px;
  height: 20px;
  background: rgba(255, 178, 252, 1);
  border-radius: 40px;
  top: 15%;
  left: 54px;
  padding: 10px;
}
.rectangle2 {
  width: 330px;
  height: 20px;
  background: rgba(255, 178, 252, 1);
  border-radius: 40px;
  position: relative;
  top: 15%;
  margin-left: 75px;
  padding: 10px;
}

.container .log-in {
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  color: #000000;
  width: 100px;
  position: absolute;
  height: 44px;
  top: 0px;
  left: 25px;
  text-decoration: none;
}
.log-in:hover {
  color: #cc0088;
}
.registration {
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  color: #000000;
  width: 390px;
  position: absolute;
  height: 44px;
  top: 0px;
  left: 15px;
  text-decoration: none;
}
.registration:hover {
  color: #cc0088;
}
.profile {
  font-weight: 400;
  font-size: 48px;
  line-height: 43px;
  color: #000000;
  width: 390px;
  position: absolute;
  height: 44px;
  top: 17px;
  left: 12px;
  text-decoration: none;
}
.profile:hover {
  color: #cc0088;
}
.log-out {
  font-weight: 400;
  font-size: 48px;
  line-height: 43px;
  color: #000000;
  width: 390px;
  position: absolute;
  height: 44px;
  top: 17px;
  left: 32%;
  text-decoration: none;
}
.log-out:hover {
  color: #cc0088;
}
.container2 {
  display: flex;
  position: absolute;
  width: 47%;
  height: 129px;
  top: 0%;
  left: 50%;
}
.container2 .social-text {
  font-weight: 400;
  font-size: 25px;
  line-height: 38.06px;
  color: #000000;
  width: 400px;
  height: 30px;
  position: relative;
  top: -5px;
  left: 0px;
}
.container2 .circle1 {
  width: 55px;
  height: 55px;
  background-color: rgba(255, 169, 246, 1);
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  top: 10px;
  left: -175px;
}
.container2 .circle2 {
  width: 55.26px;
  height: 57.05px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgba(255, 169, 246, 1);
  border-radius: 50%;
  top: 10px;
  left: -150px;
}
.container2 .circle3 {
  width: 55.26px;
  height: 57.05px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgba(255, 169, 246, 1);
  border-radius: 50%;
  position: relative;
  top: 35px;
  left: 410px;
}

.circle1 a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.circle2 a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 10px;
  text-decoration: none;
}

.logo-container {
  display: flex;
  width: 213px;
  height: 213px;
  position: relative;
  top: 60px;
  left: 67px;
}
.logo-container img:first-child {
  position: relative;
  z-index: 1;
}

.logo-container img:last-child {
  position: absolute;
  top: 40px;
  left: 40px;
}
.hero-container {
  width: 682px;
  height: 126px;
  position: absolute;
  top: 170px;
  left: 298px;
}
.hero-container h1 {
  font-weight: normal;
  font-size: 30px;
  line-height: 51px;
  text-align: left;
  color: #000000;
}
.article1-container {
  width: 986px;
  height: 150px;
  position: absolute;
  top: 265px;
  left: 80px;
}
.article1-container h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 51px;
  text-align: left;
  color: #000000;
}
.article2-container {
  width: 814px;
  height: 147px;
  position: absolute;
  top: 415px;
  left: 80px;
}
.article2-container h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 51px;
  text-align: left;
  color: #000000;
}
.search-container {
  width: 425px;
  height: 60px;
  position: absolute;
  top: 600px;
  left: 80px;
}
.search-container .rectangle3 {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #FFFFFF;
  position: absolute;
}
.search-container .watch-portfolio {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #000000;
  position: absolute;
  height: 44px;
  top: 9px;
  width: 600px;
  left: 12px;
  text-decoration: none;
}
.watch-portfolio:hover {
  color: #cc0088;
}