
body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 178, 252, 1);
    background-blend-mode: luminosity, normal;
    background-color: #FFB2FC;
    background-image: url("../img/keks1.png");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding-top: 20px;
    margin: 0;
    flex: 1;
}

img.mainpage-avatar-img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border: 0;
    border-radius: 50%;
}

.right-menu-links {
    margin: 25px 0px 10px;
}

.block-color {
    background-color: white;
}

.right-menu{
    margin: 0;
}

.filters-container{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

.filters-container {
    margin-bottom: 20px;
}

.active{
    color: #7D27C0;
    pointer-events: none;
}

.sort-form, .filter-form {
    margin: 0;
    margin-bottom: 10px;
}

.filter-button {
    margin: 0;
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #7D27C0;
    color: white;
    cursor: pointer;
    opacity: 0.75;
}

.filter-button:hover {
    opacity: 0.5;
}

.custom-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
}

#city-select {
    color: #333;
}

.profile-name{
    font-weight: 500;
    font-size: 20px;
    color: black;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.left-menu a {
    color: black;
    background-color: black;
}
.left-menu {
    background-color:rgba(255, 255, 255, 0);
    border: 0px rgba(255, 255, 255, 0);
     box-shadow: 0  8px rgba(0, 0, 0, 0);
}

.right-menu-links .mainpage-avatar-img:nth-of-type(1) {
    display: inline-block;
    margin-top: -8px;
    border-color: #7D27C0;
    color: #7D27C0;
    font-size:14px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    width: auto;
}

.right-menu-links .mainpage-avatar-img:nth-of-type(1):hover {
    border-color: #7D27C0;
    color: white;
    background-color: #7D27C0;
}


