{% load static %}

{% block content %}
    <div class="header-bar">
        <div>
            <h1>Ваш профиль</h1>
        </div>
    </div>

    <div class="card-body">
        <!-- Аватарка -->
        {% if profile.profile_pic %}
          <img src="{{ profile.profile_pic.url }}" height=100 width=100><br><br>
        {% else %}
            <img src="{% static 'base\images\profile\user.png' %}" height=100 width=100><br><br>
        {% endif %}


        <div>
    <p><strong>Никнейм:</strong> {{ profile.user.username }}</p>
    <p><strong>Имя:</strong> {{ profile.firstname }}</p>
    <p><strong>Фамилия:</strong> {{ profile.lastname }}</p>
    <p><strong>Город проживания:</strong> {{ profile.city }}</p>
    <p><strong>Расскажите о себе:</strong> {{ profile.bio }}</p>
    <p><strong>Достижения:</strong> {{ profile.achievements }}</p>

    {% if profile.Vk %}
    <p><strong>Ваш ВКонтакте:</strong> {{ profile.Vk }}</p>
    {% endif %}

    {% if profile.Telegram %}
    <p><strong>Ваш Telegram:</strong> {{ profile.Telegram }}</p>
    {% endif %}

    {% if profile.WhatsApp %}
    <p><strong>Ваш WhatsApp:</strong> {{ profile.WhatsApp }}</p>
    {% endif %}

    <p><strong>Ваша почта:</strong> {{ profile.user.email }}</p>
</div>

        <!-- Кнопка редактировать профиль -->
        {% if user.id == profile.user.id %}
        <a href="{% url 'edit_user_profile' profile.id %}"><button class="button">Редактировать профиль</button></a>
        {% endif %}
    </div>
{% endblock content %}