body {
  font-family: Montserrat, sans-serif;
  font-size: 39px;
  line-height: 47.55px;
  font-weight: 400;
  color: #848484D6; 
  background-color: #FFB2FC;
  background-image: url("../img/cake.png"), url("../img/brownie1.png"), url("../img/brownie.png"), url("../img/cupcake.png"), url("../img/cupcake2.png"), url("../img/cake2.png") ;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat ;
  background-size: 110.51px 110.51px, 99.94px 110.51px, 99.94px 110.51px, 118.76px 110.51px, 108.76px 100.51px, 118.76px 118.76px  ;
  background-position: 167.8px 158px, 445.04px 273px, 159px 693.69px, 1341px 190.07px, 1603.59px 374px, 1464px 673.5px;
  background-blend-mode: normal, luminosity, luminosity, normal,  normal, normal ;
}
.square {
  width: 710px;
  height: 900px;
  background-color: #F2A1FF;
  border-radius: 60px;
  border: 1px solid #20112C;
  position: absolute; 
  top: 88px; 
  left: 605px; 
}
.hero h1 {
  width: 70px;
  height: 452px;
  font-weight: 400;
  font-size: 64px;
  line-height: 78.03px;
  color: #000000;
  position: absolute; 
  top: 78px; 
  left: 746px; 
}
.rectangle1 {
  width: 560px;
  height: 90px;
  background-color: #F6F6F6;
  border-radius: 30px;
  position: absolute; 
  top: 230px; 
  left: 680px; 

}
.authorization-fields h3:first-of-type {
  font-weight: 400;
  letter-spacing: -1%; 
  text-align: center;
  position: absolute; 
  top: 205px; 
  left: 693px; 
}
.rectangle2 {
  width: 560px;
  height: 90px;
  background-color: #F6F6F6;
  border-radius: 30px;
  position: absolute; 
  top: 351px; 
  left: 680px;  

}
.authorization-fields h3.login {
  font-weight: 400;
  letter-spacing: -1%; 
  text-align: center;
  position: absolute; 
  top: 325px; 
  left: 699px;  
}
.rectangle3 {
  width: 560px;
  height: 90px;
  background-color: #F6F6F6;
  border-radius: 30px;
  position: absolute; 
  top: 471px; 
  left: 680px;  

}
.authorization-fields h3.password {
  font-weight: 400;
  letter-spacing: -1%; 
  text-align: center;
  position: absolute; 
  top: 445px; 
  left: 693.14px;  
}
.rectangle4 {
  width: 560px;
  height: 90px;
  background-color: #F6F6F6;
  border-radius: 30px;
  position: absolute; 
  top: 590px; 
  left: 680px;  

}
.authorization-fields h3:last-of-type {
  font-weight: 400;
  letter-spacing: -1%; 
  text-align: center;
  position: absolute; 
  top: 565px; 
  left: 691px;  }
.button {
  width: 561px;
  height: 130px;
  background-color: #7D27C0;
  border-radius: 30px;
  position: absolute; 
  top: 820px; 
  left: 680px; 
}
.authorization-fields h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 60.96px;
  color: #F6F6F6;
  text-align: center;
  position: absolute; 
  top: 810px; 
  left: 691px; 
}
.cakes {
  width: 258px;
  height: 51.32px;
  background-color: #F2A1FF;
  position: absolute; 
  top: 721px; 
  left: 830px; 
  background-image: url("../img/small-cakes.png");
  background-repeat: repeat-x ; 
  background-blend-mode: luminosity;
}
