{% load static wagtailcore_tags %}
<link href="{% static 'css/footer.css' %}" rel="stylesheet">
<footer class="main-footer">
      <div class="footer-container">
        <ul class="footer-navigation">
          <li class="footer-navigation-item">
            <a href="https://vk.com/im?media=&sel=-225939045" target="_blank">Техподдержка</a>
          </li>
          <li class="footer-navigation-item">
            <a href="https://www.donationalerts.com/r/weyko">Поддержать авторов</a>
          </li>
          <li class="footer-navigation-item">
            <a href="{% url 'about' %}">О нас</a>
          </li>
          <li class="footer-navigation-item">
            <a href="https://vk.com/topic-225939045_51254817" target="_blank">Отзывы</a>
          </li>
        </ul>
      </div>
</footer>