{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/edit_profile.css' %}" rel="stylesheet">
    <div class="container content" style="text-align: center;">
        <div style="display: inline-block; width: 400px;">
            <h2>Редактировать профиль</h2>
            <form method="post" class="bootstrap-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" class="btn btn-primary" value="Сохранить">
            </form>
        </div>
    </div>
{% endblock %}