{% load static wagtailcore_tags %}
{% block content %}
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Viaoda+Libre&display=swap" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/edit_profile.css' %}" rel="stylesheet">
    <title>Редактировать профиль</title>
    <link rel="icon" href="{% static 'img/Header-logo.svg' %}" type="image/svg">
</head>
<body>
    <header class="page-header">
          <div class="header-container1">
              <div class="header-logo">
                  <a href="{% url 'home_view' %}">
                    <img src="{% static 'img/Header-logo.svg' %}" width="60">
                  </a>
              </div>
              <div class="header-button">
              <a href="{% url 'profile' pk=user.pk %}" class="log-out">Профиль</a>
              </div>
              <div class="header-button">
              <a href="{% url 'post_view' %}" class="log-out">Лента</a>
              </div>
              <div class="header-button">
              <a href="{% url 'logout' %}" class="log-out">Выйти</a>
              </div>
      </div>
          <form class="search-form" method="GET" action="{% url 'search_profiles' %}">
          <input class="search-input" type="text" name="q" placeholder="Найти пользователя по имени" value="{{ request.GET.q }}">
          <button class="search-button" type="submit">
                <img src="{% static 'img/search-icon.png' %}" width="30" height="30">
          </button>
      </form>
          <div class="header-container2">
            <div class="circle1">
              <a href="https://vk.com/sweetcreations" target="_blank">
              <img src="{% static 'img/vk_icon.svg' %}" width="50" height="50" >
              </a>
            </div>
            <div class="circle2">
              <a href="https://t.me/sweetcreations1" target="_blank">
              <img src="{% static 'img/tg-icon.svg' %}" width="50" height="50" >
              </a>
            </div>
          </div>
    </header>
    <main>
        <div class="container content" style="text-align: center;">
            <div style="display: inline-block; width: 500px;">
                <h2>Редактировать профиль</h2>
                <form method="post" class="bootstrap-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Сохранить">
                </form>
            </div>
        </div>
    </main>
    {% include 'blocks/footer.html' %}
</body>
{% endblock %}
