{% load static wagtailcore_tags %}
{% block content %}
    <link href="{% static 'css/style-login.css' %}" rel="stylesheet">
    <div class="container content" style="text-align: center;">
        <div class = "square">
            <div style="display: inline-block; width: 300px;">
                <h2>Войти на сайт</h2>
                <form method="post" class="bootstrap-form" style="text-align: left;">
                    {% csrf_token %}
                        <p class="username">
                            <label for="username">Имя пользователя</label>

                            <input class="text" type="text" id="username" name="username">
                        </p>

                        <p class="password_input">
                            <label for="password">Пароль</label>
                            <input class="input_password" type="password" id="password" name="password">
                        </p>
                    <h3 class="text_on_login">Войти</h3>
                    <input class="login_input" type="submit" class="btn btn-primary" value="">
                </form>
            </div>
        </div>
    </div>

{% endblock %}