{% load static wagtailcore_tags %}
{% block content %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Viaoda+Libre&display=swap" rel="stylesheet">
    <link href="{% static 'css/style-login.css' %}" rel="stylesheet">
    <title>Вход</title>
</head>
<link href="{% static 'css/header.css' %}" rel="stylesheet">
<header class="page-header">
      <div class="header-container1">
          {% if user.is_anonymous %}
              <div>
                  <a href="{% url 'home_view' %}">
                    <img src="{% static 'img/Header-logo.svg' %}" width="80" height="80" >
                  </a>
              </div>
              <!-- <div class="rectangle1">
              <a href="{% url 'home_view' %}" class="log-in">На главную</a>
              </div>
              <div class="rectangle2"> -->
                   <a href="{% url 'signup' %}" class="registration">Зарегистрироваться</a>
              </div>
          {% else %}
              <div class="rectangle1">
              <a href="{% url 'home_view' %}" class="log-in">На главную</a>
              </div>
              <div class="rectangle2">
              <a href='logout' class="log-out">Выйти</a>
              </div>
          {% endif %}
      </div>

      <div class="header-container2">
        <div class="circle1">
          <a href="https://vk.com/sweetcreations" target="_blank">
          <img src="{% static 'img/vk_icon.png' %}" width="50" height="50" >
          </a>
        </div>
        <div class="circle2">
          <a href="https://t.me/sweetcreations1" target="_blank">
          <img src="{% static 'img/tg-icon.png' %}" width="50" height="50" >
          </a>
        </div>
      </div>
</header>

<main class="login-main">
    {% include 'blocks/messages.html' %}
    <div class="container content" style="text-align: center;">
        <div class = "login-content">
                <h2>Войти на сайт</h2>
                <form method="post" class="bootstrap-form" style="text-align: left;">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="username">
                            <p class="username-text">Логин:</p>
                            <input class="username-button" type="text" id="username" name="username" >
                        </div>
                        <div class="password_input">
                            <p class="password">Пароль:</p>
                            <input class="input_password" type="password" id="password" name="password">
                        </div>
                    <input class="login_input" type="submit" class="btn btn-primary" value="Войти">

                    <div class="keks">
                        <img src="{% static 'img/keks2.png' %}" width="263" height="52">
                    </div>
                </form>
        </div>
    </div>
</main>
{% include 'blocks/footer.html' %}
</html>
{% endblock %}