{% load static wagtailcore_tags %}
{% block content %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Viaoda+Libre&display=swap" rel="stylesheet">
    <link href="{% static 'css/registration.css' %}" rel="stylesheet">
</head>
<body>
<link href="{% static 'css/header.css' %}" rel="stylesheet">
<header class="page-header">
      <div class="header-container1">
              <div>
                  <a href="{% url 'home_view' %}">
                    <img src="{% static 'img/Header-logo.svg' %}" width="80" height="80" >
                  </a>
              </div>
      </div>

      <div class="header-container2">
        <div class="circle1">
          <a href="https://vk.com/sweetcreations" target="_blank">
          <img src="{% static 'img/vk_icon.png' %}" width="50" height="50" >
          </a>
        </div>
        <div class="circle2">
          <a href="https://t.me/sweetcreations1" target="_blank">
          <img src="{% static 'img/tg-icon.png' %}" width="50" height="50" >
          </a>
        </div>
      </div>
</header>
    <main>
        {% include 'blocks/messages.html' %}
        <div class="container content">
            <div class="square">
                <div>
                    <h2>Регистрация</h2>
                    <form method="post" class="bootstrap-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="register_text" value="Регистрация">

                    </form>
                </div>
            </div>
        </div>
    </main>
    {% include 'blocks/footer.html' %}
</body>
</html>
{% endblock %}

