{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/registration.css' %}" rel="stylesheet">
    <div class="container content" style="text-align: center;">
        <div class = "square">
            <div style="width: 300px; display: inline-block;">
                <h2>Регистрация</h2>
                <form method="post" class="bootstrap-form" style="text-align: left;">

                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type="submit" class="register_text" value="Регистрация">
                </form>
            </div>
        </div>
    </div>
{% endblock %}