{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Sweet-Creations</title>
    <!--<link href="{% static 'css/style.css' %}" rel="stylesheet">-->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>
    {% include 'blocks/navbar.html' %}
    {% include 'blocks/messages.html' %}


    {% block content %}
    {% endblock %}
</body>

    {% include 'blocks/footer.html' %}
</html>
e