{% load static wagtailcore_tags%}
{% load my_filters %}
{% block content %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Viaoda+Libre&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/timeline.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>
    {% load static wagtailcore_tags %}
<link href="{% static 'css/header.css' %}" rel="stylesheet">
<header class="page-header">
      <div class="header-container1">
          {% if user.is_anonymous %}
              <div class="rectangle1">
              <a href='login' class="log-in">Войти</a>
              </div>
              <div class="rectangle2">
                   <a href='signup' class="registration">Зарегистрироваться</a>
              </div>
          {% else %}
              <div>
                  <a href="{% url 'home_view' %}">
                    <img src="{% static 'img/Header-logo.svg' %}" width="80" height="80" >
                  </a>
              </div>
              <div class="rectangle1">
              <a href='profile/{{ request.user.pk }}' class="profile">Профиль</a>
              </div>
              <div class="rectangle2">
              <a href='logout' class="log-out">Выйти</a>
              </div>
          {% endif %}
      </div>

      <div class="header-container2">
        <div class="circle1">
          <a href="https://vk.com/sweetcreations" target="_blank">
            <img src="{% static 'img/vk_icon.png' %}" width="50" height="50" >
          </a>
        </div>
        <div class="circle2">
          <a href="https://t.me/sweetcreations1" target="_blank">
            <img src="{% static 'img/tg-icon.png' %}" width="50" height="50">
          </a>
        </div>
      </div>
</header>
    <main class="container">
        <div class="row">
            <div class="col-3">
                <div class="block left-menu block-color">
                    <a href="{% url 'home_view' %}">На главную</a>
                    {% if user.is_authenticated %}
                        <a href='profile/{{ request.user.pk }}'>Мой профиль</a>
                        <!--<a href="{% url 'home_view' %}">Мои подписчики</a>-->
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                    <div class="filters-container">
                        <!-- Форма сортировки -->
                        <form method="get" action="" class="sort-form">
                            <label for="sort_by">Сортировка:</label>
                            <select name="sort_by" id="sort_by" class="custom-select" onchange="this.form.submit()">
                                <option value="date_new" {% if request.GET.sort_by == 'date_new' %}selected{% endif %}>Самое свежее</option>
                                <option value="date_old" {% if request.GET.sort_by == 'date_old' %}selected{% endif %}>Самое старое</option>
                                <option value="character_count_large" {% if request.GET.sort_by == 'character_count_large' %}selected{% endif %}>Больше символов</option>
                                <option value="character_count" {% if request.GET.sort_by == 'character_count' %}selected{% endif %}>Меньше символов</option>
                                <option value="likes" {% if request.GET.sort_by == 'likes' %}selected{% endif %}>По количеству лайков</option>
                                <option value="comments" {% if request.GET.sort_by == 'comments' %}selected{% endif %}>По количеству комментариев</option>
                            </select>
                        </form>

                        <!-- Форма фильтрации -->
                        <form class="filter-form" method="get" action="">
                            <label for="has_photo">Наличие фото:</label>
                            <select name="has_photo" id="has_photo" class="custom-select">
                                <option value="">--Похрен--</option>
                                <option value="1" {% if request.GET.has_photo == '1' %}selected{% endif %}>С фото</option>
                                <option value="0" {% if request.GET.has_photo == '0' %}selected{% endif %}>Без фото</option>
                            </select>

                            <!-- Форма фильтрации по городам -->
                            {{ city_filter_form.as_p }}
                            <button type="submit" class="filter-button">Применить фильтры</button>
                        </form>
                    </div>
                {% endif %}
            </div>


        <div class="col-6 content">
            <div class="timeline">
                {% include 'PostPage/post.html' %}
            </div>
        </div>
            {% if user.is_authenticated %}
                <div class="col-3">
                    <div class="block right-menu block-color" style="text-align: center;">
                        <b>{{ user.get_full_name }}</b>
                        {% if request.user.profile.profile_pic %}
                            <img src="{{ request.user.profile.profile_pic.url }}" alt="Аватарка пользователя" class="mainpage-avatar-img img-thumbnail">
                        {% else %}
                            <p>Аватарка пользователя отсутствует</p>
                        {% endif %}
                        <div class="right-menu-links">
                            <a href='profile/{{ request.user.pk }}' class="mainpage-avatar-img img-thumbnail">
                                <i class="fa fa-user-circle"></i> Мой профиль
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
    {% include 'blocks/footer.html' %}
</body>
{% endblock %}

<style>
.filters-container {
    margin-bottom: 20px;
}


.sort-form, .filter-form {
    margin: 10px 0;
}


.filter-button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #45a049;
}

.custom-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
}

#city-select {
    color: #333;
}
</style>