{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
{% block content %}
    <div class="container content">
        <div class="text-left">
            <div style="margin-top: 20px;">
                {% if request.user.is_authenticated %}
                    <a href='profile/{{ request.user.pk }}' class="btn btn-info">Ваш профиль</a>
                    <a href='logout' class="btn btn-info">Выйти</a>
                {% else %}
                    <a href='login' class="btn btn-info">Войти</a>
                    <a href='signup' class="btn btn-primary">Зарегистрироваться</a>
                {% endif %}
            </div>
        </div>
        <h1 class="text-center">Добро пожаловать на наш сайт Sweet Creations!</h1>
        <h2>Мы рады представить вам наш сайт-портфолио кондитерского мастерства.</h2>
        <h2>Здесь вы можете поделиться своими вкусными и красивыми кондитерскими изделиями!</h2>
    </div>
{% endblock %}
